
.col-custom-class {
  -ms-flex: 0 0 3.95rem;
  flex: 0 0 3.95rem;
  max-width: 3.95rem;
  text-align: right;
}

.col-custom-tower {
  -ms-flex: 0 0 11.8%;
  flex: 0 0 11.8%;
  max-width: 11.8%;
}

img.img-custom-tower {
  width: 100%;
  height: auto;
}
