
body {
  display: flex;
  flex-flow: column;
}

.body {
  overflow: auto;
  flex-grow: 1;
}

.vertical.carousel-item-next:not(.carousel-item-left),
.vertical.active.carousel-item-right {
  transform: translateY(100%);
}
.vertical.carousel-item-prev:not(.carousel-item-right),
.vertical.active.carousel-item-left {
  transform: translateY(-100%);
}

table.sortable thead th i.sort.fa {
  visibility: hidden;
  display: none;
}

table.sortable thead th.asc.sorted:not(.desc) i.sort.fa.fa-sort-up,
table.sortable thead th.desc.sorted:not(.asc) i.sort.fa.fa-sort-down {
  visibility: visible;
  display: inline-block;
}

/*
th.asc.sorted::after {
content: " ";
}
th.desc.sorted::after {
content: " ";
}
*/