
p.line {
    margin: 0;
    text-align: center;
    font-family: consolas, hack, monospace;
    font-size: min(5.5vh,5.5vw);
    white-space: nowrap;
    overflow-wrap: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

b.item {
    color: lightgray;
}

b.item.active {
    color: inherit;
}