
.body {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

.main {
  overflow-y: scroll;
}

.chat-area {
  min-height: 100%;
  border-radius: 0.5rem;
}

.chat-text {
  background: white;
  border-radius: 0.25rem;
}
