
.body {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

.chat-wrapper {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-background {
  border-radius: 0.5rem;
}

.chat-area {
  overflow-y: scroll;
}

.chat-text {
  background: white;
  border-radius: 0.25rem;
}
